.events {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	&:before {
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		background: #F2F2F4;
		left: 0;
		top: 0;
	}
}


.event-preview {
	flex: 1 0 100%;
	border-bottom: 1px solid $line;
	border-left: 1px solid $line;

	@include mq( 400px ) {
		flex: 1 0 400px;
	}

	p {
		max-width: 400px;
	}
	
	a {
		display: block;
		padding: 10px;

		@include mq( 40em ) {
			padding: 25px;
		}
	}

	.title:after {
		margin-bottom: 23px;
	}

	.event-time {
		margin-bottom: 19px;
	}
}


.map {
	height: 50vh;
	width: 100%;
	background: $line;
	margin: 0 0 1rem;
	position: relative;

	#map {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}
}

.tags {
	li {
		display: inline-block;

		+ li:before {
			content: ', ';
		}
	}
}



.no-js .find-event {
	display: none;
}

.find-event {
	margin: 0 0 1rem;

	.button {
		margin-bottom: 0;
	}

	#find-event-toggle {
		margin-bottom: 0.5rem;
	}

	form {
		display: inline-block;
		max-width: 350px;
		width: 100%;
		display: none;
		position: relative;

		p {
			margin: 0;
		}

		[type=submit] {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
		}

		[type=text] {
			padding-right: 115px;
		}
	}

	form.showing {
		display: inline-block;
		margin-bottom: -1px;
	}

	.find-address {
		background: url(../images/pin.png) center /auto 50% no-repeat;
		right: 6.5rem;
	}
}