body {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	letter-spacing: 0.025em;
	background: #F2F2F4;
	color: $copy;
	font: 400 18px/1.4 $font;
}


[role=banner] {
	background: $blue;
	color: #FFF;
	padding: 0.5rem 1rem;

	.logo {
		font-weight: 700;
		font-size: 1.25em;

		img {
			display: none;
		}

		@include mq(48em) {
			img {
				display: block;
				max-width: 100%;
				width: 220px;
			}

			span {
				display: none;
			}
		}
	}

	ul {
		width: 100%;
		margin: 1rem 0 0;
		font-weight: 700;
		display: flex;
		justify-content: space-between;
	}

	li {

		span {
			display: none;
		}

		&.desktop {
			display: none;
		}

		@include mq(30em) {
			span {
				display: inline;
			}

			&.desktop {
				display: table-cell;
			}

			&.mobile {
				display: none;
			}
		}
	}
}

@include mq(48em) {
	[role=banner] {
		padding-top: 19px;
		position: fixed;
		height: 100%;
		width: 30%;
		left: 0;
		top: 0;

		ul {
			display: block;
		}

		li {
			display: block;
			padding-left: 12px;
		}
	}

	body {
		padding-left: 30%;
	}
}

@include mq(55em) {
	
	[role=banner] {
		padding: 19px 2rem;
	}

}

@include mq(65em) {
	
	[role=banner] {
		padding: 3rem 1rem 19px 4rem;
	}

}

@include mq(75em) {
	
	[role=banner] {
		font-size: 1.3em;
	}

}


.main {
	padding: 15px;

	&:after {
		display: table;
		content: '';
		clear: both;
	}

	@include mq(30em) {
		padding: 25px;
	}
}

.primary {
	margin-bottom: 30px;
}

@include mq(55em) {

	.primary,
	.secondary {
		width: 48%;
	}

	.primary--thin,
	.secondary--thin {
		width: 44%;
	}

	.primary {
		margin-bottom: 0;
		float: left;
	}

	.secondary {
		float: right;
	}

}

.clear {
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}